html {
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
main {
  height: auto;
  overflow: visible;
  align-items: none;
  flex-direction: column;
  font-size: 3vw;
  overflow: hidden !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  padding: 0px;
}
h1 {
  font: {
    size: 56px;
  }
}
